cxf/src/main/resources/hello.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://com.warmup" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloWorldImplService" targetNamespace="http://com.warmup">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://com.warmup" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://com.warmup">
            <xs:element name="CXF_FAULT" type="tns:SELF_FAULT"/>
            <xs:element name="ResultResponse" type="tns:ResultResponseType"/>
            <xs:element name="sayHi" type="tns:sayHi"/>
            <xs:element name="sayHiResponse" type="tns:sayHiResponse"/>
            <xs:complexType name="sayHi">
                <xs:sequence>
                    <xs:element minOccurs="0" name="INPUT_TEXT" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="sayHiResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ResultResponse" type="tns:ResultResponseType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResultResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="xs:string"/>
                    <xs:element minOccurs="0" name="cxfFault" type="tns:SELF_FAULT"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SELF_FAULT">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="resultCodeDes" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception" type="tns:Exception"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sayHiResponse">
        <wsdl:part element="tns:sayHiResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="sayHi">
        <wsdl:part element="tns:sayHi" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorld">
        <wsdl:operation name="sayHi">
            <wsdl:input message="tns:sayHi" name="sayHi"></wsdl:input>
            <wsdl:output message="tns:sayHiResponse" name="sayHiResponse"></wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldImplServiceSoapBinding" type="tns:HelloWorld">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHi">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sayHi">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sayHiResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorldImplService">
        <wsdl:port binding="tns:HelloWorldImplServiceSoapBinding" name="HelloWorldImplPort">
            <soap:address location="http://localhost:8080/app/ws/HelloWorld"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>